# === IntelliJ IDEA Ayarları ===
.idea/
*.iml
*.iws
*.ipr

# === Derlenmiş Java Dosyaları ===
*.class
*.jar
*.war
*.ear

# === Maven & Gradle ===
target/
build/

# === Log Dosyaları ===
*.log

# === Geçici Dosyalar ve Sistem Dosyaları ===
*.tmp
*.swp
.DS_Store
Thumbs.db

# === Örnek Özel XML Ayar Dosyaları (İstersen) ===
uiDesigner.xml
vcs.xml
jpa-buddy.xml
