# ===============================
# IDE Ayarları (IntelliJ IDEA)
# ===============================
.idea/
*.iml
*.iws

# ===============================
# Derlenmiş Dosyalar
# ===============================
*.class
*.jar
*.war
*.ear

# ===============================
# Build Klasörleri
# ===============================
target/
build/

# ===============================
# Log ve Temp Dosyaları
# ===============================
*.log
*.tmp
*.swp

# ===============================
# Sistem Dosyaları (Mac / Windows)
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Örnek Kişisel Ayar Dosyaları
# ===============================
uiDesigner.xml
vcs.xml
jpa-buddy.xml
